*{
    padding: 0;
    background-color: aqua;
}

header{
    text-align: left;
    margin-left: 85%;
}

.p1{
    background-color: rgb(233, 213, 213);

}
    
.form1{

    align-content: center;
    text-align: center;
    border: 1px solid blue;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin: auto;


}
.inputs{
    list-style: none;
}

 #month{
    margin: 20px;
 }
  
 #btn{
     margin: 5px;
     padding: 1px
 }
